@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');


@font-face {
    font-family: 'Bahnschrift';
    src: url('./fonts/Bahnschrift.ttf') format('truetype'); /* Chrome < 4, Legacy iOS */
}


body {
	font-family: 'Bahnschrift', sans-serif;
	font-weight: 300;
	font-size: 2vh;
	line-height: 2vh;
}


a{
	outline: none !important;
}


/*Menu*/

.header{
	
}

.nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 7.541478129713424vh;
    display: block;
    height: 100%;
    background: #000000b8;
    z-index: 100;
}

.menu-elem{
	display: block;
	width: 5.524887vh;
	height: 5.524887vh;
	background: #1a2237;
	color: #fae626;
	border-radius: 50%;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 2.5641025641025643vh;
	text-align: center;
	letter-spacing: -0.15082956259426847vh;
	line-height: 4.826546003016591vh;
	/* border: 1px solid white; */
}

.menu-elem:hover{
	
	background-color: rgb(71 74 81 / 36%);

	border: 1px solid rgb(71 74 81 / 0%);

	border-radius: 8px;

	line-height: 3.61991vh;
}


.menu-elem:hover::after {
	content: attr(data-title);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 2px black, 0 0 1em black;
	z-index: 1;
	display: block;
	width: 14.607843vh;
	margin-top: -2.23092vh;
	margin-left: 3.97737556561086vh;
	background: rgb(71 74 81 / 96%);
	padding: 0.541478129713424vh 1.5082956259426847vh;
	border-radius: .8082956259426847vh;
	line-height: 2.5vh;
	font-weight: 500;
	color: white;
	text-transform: uppercase;
}

.science{
	background: url("../images/img-menu/science.png");
	background-size: 115%;
    background-repeat: no-repeat;
    background-position-y: -4px;
    background-position-x: -3px;
}

.human{
	background: url("../images/img-menu/human.png");
	background-size: cover;
}

.society{
	background: url("../images/img-menu/society.png");
    background-size: 93%;
    background-repeat: no-repeat;
    background-position-y: 5px;
    background-position-x: 1px;
}

.other{
	background: url("../images/img-menu/others.png");
	background-size: cover;
}

.futurists{
	background: url("../images/img-menu/futurists.png");
    background-size: 115%;
    background-repeat: no-repeat;
    background-position-y: -4px;
    background-position-x: -3px;
}
/*end Menu*/


/*Constants*/

.container{
	width: 100%;
	max-width: 180.99547511312218vh;
	margin: 0 auto;
}

.container-center{
	display: flex;
	max-width: 170.43740573152337vh;
	margin: 0 auto;
	flex-direction: column;
	justify-content: space-around;
}

/* end Constants*/


/*Main-block*/

.main-block{
	width: 100%;
	display: block;
	height: 100vh;
}

.prev-main{
	background: url("../images/main-img.jpg") center;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-opacity{
	background-image: linear-gradient(rgba(43, 49, 63, 0.2) 44%, rgb(12 12 21 / 88%) 82%);
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	position: absolute;
}

.main-titleF{
	color: #ed008c;
	font-size: 10.653092vh;
	font-weight: 600;
	margin-left: 12.479638vh; 
	display: inline-block;
	line-height: 10vh;
	text-shadow: 1px 1px 6px black, 0 0 1em black;
	font-family: 'Roboto', sans-serif;
}

.main-title2{
	color: #fff100;
	font-family: 'Bahnschrift', sans-serif;

}

.bg-text{
	margin-bottom: 0.8vh;
	color: white;
	/* margin-left: 11.273002vh; */
	font-size: 3.3182503770739067vh;
	line-height: 4vh;
}

.description {
	margin-top: 1vh;
	max-width: 47vh;
	padding: 1vh;
	margin-left: 6vh;
	color: white;
	flex: 1 2 18vh;
	text-shadow: 1px 1px 6px black, 0 0 1em black;
	display: block;
}

.main-container {
	margin-top: 3vh;
	margin-left: 17vh;
	flex-basis: 41vh;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}


/*Scroll-block*/

.scroll-container::-webkit-scrollbar { width: 0; }

.scroll-lable{
	margin-top: 4vh;
	margin-left: 16vh;
	color: white;
	font-size: 3vh;
}

.scroll-container{
	max-width: 41vh;
	flex: 2 1 41vh;
	flex-grow: 3;
	margin-top: 1vh;
	overflow-y: scroll;
	height: 50vh;
	width: 41vh;
	
	color: white;
}

.slider-block{
	margin-top: 1vh;
	display: flex;
	align-items: center;
	width: 40vh;
	height: 10vh;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 0.9vh;
	padding: 0.5vh;
	color: black;
}

.slider-block-info{
	width: 22vh;
	margin-left: 1vh;
}

.slider-lable{
	display: block;
	margin-top: -4px;
	color: white;
	font-size: 1.2vh;
	font-weight: bold;
}

.slider-text{
	display: block;
	color: gray;
	font-size: 1vh;
	font-weight: bold;
}

.slider-link{
	display: block;
	color: yellow;
	margin-top: 1vh;
	font-size: 1vh;
	font-weight: bold;
}

.image-slider-block{

}

.image-slider-img{
	display: block;
	width: 15vh;
	border-radius: 0.8vh;
	height: 9vh;
}

/* second Main-block */

.second-main-block{
	height: 50vh;
	display: block;
	width: 100%;
	background-color: rgba(60, 60, 60);
	box-shadow: 0 3vh 30px black;
}

@media screen and (max-width: 1024px){
	.container-center{
		max-width: 70vh;
	}

	.description {
		margin-left: 0;
	}

	.main-container{
		flex-direction: column;
		margin-left: 13vh;
	}

	.bg-text{
		flex: 1 2 10vh;
	}	

@media screen and (max-width: 767px){
	.scroll-container{
	}

	.slider-block {
    	width: 30vh;
	}

	.slider-text{
		display: none;
	}
}
}

/*end Scroll-block*/

/*end Main-block*/


/*Section*/

.main-opacity-section{
	background-image: linear-gradient(rgba(43, 49, 63, 0.2) 44%, rgb(12 12 21 / 88%) 82%);
	width: 100%;
	height: 100vh;
	margin-top: -100vh;
	display: flex;
	align-items: center;
	position: absolute;
}

.title-section{
	position: absolute;
	top: 90%;
	left: 14%;
	display: block;
	font-size: 15vh;
	color: #fff;
	text-transform: uppercase;
}

/*end Section*/
