import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


@font-face {
    font-family: 'Bahnschrift';
    src: url('./fonts/Bahnschrift.ttf') format('truetype'); /* Chrome < 4, Legacy iOS */
}


body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2vh;
	background: #000;
}


a{
	outline: none !important;
}

h1{
	text-transform: uppercase;
}

/*Menu*/

.header{
	
}

.nav{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 8vh;
    display: block;
    height: 100%;
    background: #000000b8;
    z-index: 100;
}

.menu-elem{
	display: block;
	width: 6.5vh;
	height: 6.5vh;
	color: #fae626;
	border-radius: 30%;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 2.5641025641025643vh;
}

.menu-elem:hover{
	background-color: rgb(71 74 81 / 36%);
	border: 1px solid rgb(71 74 81 / 0%);
	border-radius: 8px;
	line-height: 3.61991vh;
}


.menu-elem:hover::after {
	content: attr(data-title);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 2px black, 0 0 1em black;
	z-index: 1;
	display: block;
	width: 14.607843vh;
	margin-top: -2.23092vh;
	margin-left: 3.97737556561086vh;
	background: rgb(71 74 81 / 96%);
	padding: 0.541478129713424vh 1.5082956259426847vh;
	border-radius: 0.8082956259426847vh;
	line-height: 2.5vh;
	font-weight: 500;
	color: white;
	text-transform: uppercase;
	text-align: center;
}

.menu-elem:nth-child(2){
	background: url("../images/img-menu/science.png");
	background-size: 111%;
	background-repeat: no-repeat;
	background-position-y: -4px;
	background-position-x: -4px;
}

.menu-elem:nth-child(3){
	background: url("../images/img-menu/human.png");
	background-size: cover;
}

.menu-elem:nth-child(4){
	background: url("../images/img-menu/society.png");
	background-size: 103%;
	background-repeat: no-repeat;
	background-position-y: 0px;
	background-position-x: 0px;
}

.menu-elem:nth-child(5){
	background: url("../images/img-menu/space.png");
	background-size: 67%;
	background-repeat: no-repeat;
	background-position-y: 6px;
	background-position-x: 12px;
}

.menu-elem:nth-child(6){
	background: url("../images/img-menu/futurists.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position-y: -4px;
    background-position-x: -3px;
}
/*end Menu*/


/* menu for handlend  */

.left-menu{
    width: 6vh;
    position: fixed;
    top: 0px;
    left: 0px;
    margin-left: 1vh;
    margin-top: 1vh;
    z-index: 100;
    cursor: pointer;
    display: none;
}

.lm-title{
    color: #ffffff;
    display: block;
    font-size: 4.1vh;
    line-height: 4vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin-left: 1.5vh;
    margin-top: 1vh;
}

.hand{
	margin-left: 0vh;
    margin-top: 0vh;
}

/*.lmblock{
	cursor: pointer;
	margin-top: 2.5vh;
}

#lm1, #lm2, #lm3{
   margin-top: 10px;
   width: 85%;
   height: 2px;
   background: #ffffff;
   display: block;
   transition: all 0.3s;
}

#lm2{
    margin-top:1.2vh;
}

#lm3{
    margin-top:1.2vh;
}*/

/* button starting stylings ------------------------------- */
.lmblock {
  color: #ccc;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 5.5vh;
  height:5.5vh;
  font-size: 0;
  cursor: pointer;
  transition: background 0.3s;
}
.lmblock:focus {
  outline: none;
}

/* inner span stylings ------------------------------- */
.lmblock div {
	margin-top: 1vh;
   	width: 100%;
   	background: #ffffff;
   	display: block;
	transition: all 0.3s;
  	display: block;
  	position: absolute;
  	top: 2vh;
  	height: 3px;

}
.lmblock div::before, .lmblock div::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  content: "";
}
.lmblock div::before {
  top: -1.5vh;
}
.lmblock div::after {
  bottom: -1.5vh;
}

.lmblock.toggle-hamburger__animx div {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}
.lmblock.toggle-hamburger__animx div::before, .lmblock.toggle-hamburger__animx div::after {
	transition-duration: 0.3s, 0.3s;
   transition-delay: 0.3s, 0s, 0.3s;
}
.lmblock.toggle-hamburger__animx div::before {
  transition-property: top, transform, background-color;
}
.lmblock.toggle-hamburger__animx div::after {
  transition-property: bottom, transform, background-color;
}

/* when menu open: */
.lmblock.toggle-hamburger__animx.is-active div {
	background-color: rgb(237, 0, 140);
  	background: none;
}
.lmblock.toggle-hamburger__animx.is-active div::before, .toggle-hamburger.toggle-hamburger__animx.is-active div::after {
  	background-color: rgb(237, 0, 140);
	transition-delay: 0s, 0.3s, 0s;
}
.lmblock.toggle-hamburger__animx.is-active div::before {
  	top: 0;
  	background-color: rgb(237, 0, 140);
  	transform: rotate(45deg);
}
.lmblock.toggle-hamburger__animx.is-active div::after {
  	background-color: rgb(237, 0, 140);
  	transition-delay: 0s, 0.3s, 0s;
  	bottom: 0;
  	transform: rotate(-45deg);
}



#menuHand{
    width: 102vw;
    height: 0vh;
    background: black;
    margin-top: -150vh;
    z-index:50;
    transition:0.5s;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
}

#menuHand ul{
	
}

#menuHand li{
    margin-bottom: 11vw;
    display: flex;
    z-index: 5;
    justify-content: center;
}

#menuHand li a{
	display: none;
    transition: 0.75s;
    color: white;
    font-size: 11vw;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-decoration: none;
    margin-top: 65px;
    z-index: 5;
    font-weight: bold;
}

/* end menu for handlend  */


/*Constants*/

.container{
	width: 100%;
	max-width: 180.99547511312218vh;
	margin: 0 auto;
}

.main-block{
	width: 100%;
	display: block;
}

/* end Constants*/


/*Main-block*/

.prev-main{
	height: 100vh;
	background: url("../images/main-img.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.main-opacity{
	background-image: linear-gradient(rgba(43, 49, 63, 0.2) 57%, rgb(0 0 0) 101%);
	width: 100%;
	height: 101%;
	z-index: 10;
	display: flex;
	align-items: center;
	position: relative;
}
.science-opacity{
	/* height: 60%; */
	/* width: 97%; */
}

.container-center{
	display: flex;
	max-width: 190.43740573152337vh;
	margin: 0 auto;
	flex-direction: column;
	justify-content: space-around;
}

.main-titleF{
	text-transform: uppercase;
	text-align: center;
	padding-left: 3vh;
	color: #ed008c;
	font-size: 10.653092vw;
	font-weight: 600;
	margin-left: 2.279638vh; 
	display: inline-block;
	line-height: 10vh;
	text-shadow: 1px 1px 6px black, 0 0 1em black;
	font-family: 'Roboto', sans-serif;
}

.main-title2{
	color: #fff100;
	font-family: 'Bahnschrift', sans-serif;

}

.bg-text{
	margin-left: 1vh;
	/* margin-top: 0vh; */
	margin-bottom: 0.8vh;
	/* margin-top: -0.8vh; */
	color: #ed008c;
	font-size: 2.8182503770739067vh;
	line-height: 4vh;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 0 8px black;
}

.description p {
	padding-left: 1vh;
	padding-right: 1vh;
	color: rgb(230, 230, 230);
	margin-top: 1vh;
	text-shadow: 0 0 6px black;
	font-size: 3vh;
	/* text-align: justify; */
}

.description {
	margin-top: 4.5vh;
	border-radius: 1vh;
	background-color: rgba(0, 0, 0, 0.4);
	max-width: 68vh;
	padding:  1vh 1vh 1vh 1vh;
	margin-left: 3vh;
	margin-right: 3vh;
	color: white;
	flex: 1 2 18vh;
	text-shadow: 1px 1px 6px black, 0 0 1em black;
	display: block;
	margin-bottom: 2vh;
}

.main-container {
	margin-top: 3vh;
	margin-left: 10vh;
	flex-basis: 48vh;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: flex-start;
}


	/*Scroll-block*/

.scroll-container::-webkit-scrollbar { width: 0; }

.scroll-lable{
	color: #ed008c;
	margin-top: 4vh;
	font-size: 2.5vh;
	text-shadow: 0 0 6px black;
	text-transform: uppercase;
	font-weight: bold;
}

.scroll-container{
	margin-top: 1vh;
	max-width: 68vh;
	/* flex: 2 1 49vh; */
	flex-grow: 3;
	overflow-y: scroll;
	height: 74vh;
	display: flex;
	flex-direction: column;
	width: 69vh;
	color: white;
}

.slider-block{
	margin-top: 1vh;
	display: flex;
	max-width: 68vh;
	align-items: center;
	/* width: 48vh; */
	height: 18vh;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0.9vh;
	padding: 0.5vh;
	color: black;
}

.image-slider-block{
	pointer-events: none;
	cursor: default;
}

.image-slider-img{
	box-shadow: 0 0 4px black;
	display: block;
	width: 26vh;
	border-radius: 0.8vh;
	height: 17vh;
}

.slider-block-info{
	position: relative;
	display: block;
	/* width: 26vh; */
	margin-left: 1vh;
	height: 100%;
}

.slider-lable{
	text-transform: uppercase;
	text-shadow: 0 0 5px black;
	display: block;
	margin-top: 0vh;
	color: yellow;
	font-size: 2vh;
	font-weight: bold;
	line-height: 130%;
}

.slider-text{
   margin-top: 0.5vh;
   max-height: 4vh;
   text-shadow: 0 0 4px black;
   display: block;
   color: rgb(210, 210, 210);
   font-size: 95%;
   font-weight: bold;
   line-height: 110%;
}


.slider-link{
	border-radius: 0.8vh;
	box-shadow: 0 0 2px black;
	font-size: 110%;
	padding-top: 0.68vh;
	text-align: center;
	vertical-align: bottom;
	position: absolute;
	top: 73%;
	left: 59%;
	padding-left: 1vh;
	padding-right: 1vh;
	color: white;
	height: 4vh;
	max-width: 15.7vh;
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.9);
	text-decoration: none;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.15);
}

.slider-link:hover{
	display: block;
	background-color: white;
	text-shadow: 0 0 1px black;
	border-color: white;
	color: black;
}

	/*end Scroll-block*/


.the-best {
	color: white;
	padding-left: 13vh;
	padding-top: 5vh;
	padding-bottom: 1vh;
}

.the-best h1 {
	text-transform: uppercase;
   font-size: 4.5vh;
   margin-bottom: 2vh;
   font-weight: bold;
   line-height: 2.6vh;
}

/*end Main-block*/


/* second Main-block */

.top-news-block{
	/* background-image: linear-gradient(to bottom, rgba(35, 35, 70) 30%, rgba(128, 0, 128) 100%); */
	background-image: url(../images/img-index/wallpaperflare.com_wallpaper_14.jpg);
	background-size: cover;
	height: 80vh;
	display: block;
	width: 100%;
	background-color: rgba(35, 35, 50);
	box-shadow: 0 0 1vh black;
	background-position: center;
}


.news-main-container{
	margin-top: 3vh;
    margin-left: 17vh;
    flex-basis: 41vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.news-container{
	text-shadow: 0 0 8px black;
	color: white;
	margin-top: 45vh;
}

h3.news-type {
	text-transform: uppercase;
	font-size: 1.3vh;
	text-shadow: 0 0 4px black;
}

h1.news-name {
   margin-top: 0.2vh;
   max-width: 26vh;
   line-height: 2.9vh;
   font-weight: bold;
   min-height: 5vh;
   font-size: 3vh;
   text-transform: uppercase;
}

.news-button {
	box-shadow: 0 0 2px black;
	margin-top: 2.5vh;
	font-size: 1.6vh;
	padding-top: 1vh;
	text-align: center;
	color: white;
	height: 3.6vh;
	max-width: 14vh;
	display: block;
	border: 1px solid white;
	text-decoration: none;
	text-transform: uppercase;
}

.news-button:hover{
	display: block;
	background-color: white;
	color: black;
	text-shadow: 0 0 1px black;
}

/* second Main-block */


/*Section const*/

.title-section{
	position: absolute;
	top: 73%;
	margin-left: 14vw;
	display: block;
	font-size: 11vh;
	text-transform: uppercase;
	font-weight: 900;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, #fff100, #ed008c);
	text-shadow: 4px 1px 0px white, 0 0 1em black;
}

.sub-section{
	width: 100%;
	background: black;
}

.sub-section-container{
	width: 100%;
	max-width: 181vh;
	margin: 0 auto;
}

.sub-subsection-block{
	height: 100%;
	padding-top: 8vh;
	margin-bottom: -4vh;
	background: black;
	margin-left: 9vh;
}

.name-subsection{
	display: block;
	font-size: 7vh;
	color: #fff100;
	font-weight: 600;
	padding: 3vh 12vh;
}

.subsection-block ul{
	margin-top: 1vh;
	margin-left: 18vh;
	list-style: circle;
}

.href-article{
	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 2.7vh;
}

.href-article:hover{
	color: #ed008c;
}

.subsection-block li{
	list-style-type: square
}

/*end Section conts*/


/*Section main-img*/

.main-science{
	background: url("../images/img-section/sience-prev.jpg");
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}

/*Section main-img*/



/*Section grid*/

.section{
	width: 100%;
	background: #000;
}

.section-container{
	width: 100%;
	background: black;
}

.section-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 35vh 35vh;
    margin-left: 6%;
    margin-top: 3%;
    border: 1px solid #fff;
}

.section-grid h1{
	color: #ed008c;
	font-weight: 700;
	font-size: 3.5vh;
	padding: 3vh;
}

img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(23%,1fr) minmax(23%,1fr)  minmax(23%,1fr) minmax(23%,1fr);
  grid-template-rows: 35vh 35vh;
  margin-left: 4.5%;
  margin-top: 3%;
  grid-gap: 0.5vh;
}

.grid-container h1{
  color: #ffffff;
  font-weight: 700;
  font-size: 150%;
  padding: 3vh;
  position: relative;
  margin-top: -36.5vh;
  z-index: 1;
  height: 9vh;
  text-shadow: 1px 1px 6px black, 0 0 1em black;
}

/* hover styles */

.main-listing {
  grid-column: 1 / 3;
  grid-row: 1 /3;
  position: relative;
  /* filter: brightness(60%); */
}

.main-listing h1{
  font-size: 7vh;
  margin-top: -73vh;
  height: 46vh;
}

.main-listing .sect-href-article{
  font-size: 3.5vh;
}

.main-listing .sect-hrefs{
  /* margin-top: 48vh; */
}

.grid-container-human{
  display: grid;
  grid-template-columns: minmax(45%,1fr) minmax(45%,1fr);
  grid-template-rows: 54vh;
  margin-top: 3%;
  grid-gap: 0.5vh;
}


.grid-container-human .main-listing {
  grid-column: 1 /2;
  grid-row: 1 /2;
  position: relative;
}

.grid-container-human .main-listing-second {
  grid-column: 2 /3;
}

.grid-container-human h1{
	font-size: 5vh;
	margin-top: -54vh;
	height: 26vh;
}

.grid-container-human .sect-href-article{
  font-size: 3.5vh;
}

.grid-container-human .sect-hrefs{
  /* margin-top: 48vh; */
}

.location-listing {
  position: relative;
}

/*.location-listing-space{
	grid-column: 3 /5;
}
*/
.location-image {
  line-height: 0;
  overflow: hidden;
  height: 100%;
  filter: brightness(80%);
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgb(0 0 0 / 22%);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-listing-second{
	grid-column: 2 / 3;
	position: relative;
}

.main-listing-space{
	grid-column: 1 / 4;
}

.grid-container-space{
	grid-template-rows: 40vh 40vh;
}

.main-listing:hover .location-title {
  opacity: 1;
  font-size: 5vh;
  /* filter: brightness(60%); */
}

.main-listing:hover .location-image img {
  filter: brightness(60%);
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: brightness(60%);
}

.location-listing:hover .trap-picture img {
  filter: brightness(100%);
}

.sect-hrefs{
	margin-top: 15vh;
	z-index: 9;
}

.sect-href-article{
	text-decoration: none;
	display: block;
	color: #c3c3c3;
	font-size: 2.5vh;
	padding: 1vh 1vh 0vh 3vh;
	z-index: 8;
	position: relative;
	text-shadow: 1px 1px 6px black, 0 0 1em black;
}


.last-sect-href{
	margin-top: 11vh;
}




/*end Section grid*/



/*Section grid SIENCE*/

.add-sect-grid{
	background: #000;
	border: 1px solid #fff;
}

/*end Section grid SIENCE*/



/*Footer*/


.footer{
	display: flex;
	position: relative;
	width: 100%;
	height: 30vh;
	background: #000;
	justify-content: center;
}

.footer-content{
	display: flex;
	position: relative;
	width: 100%;
	height: 22vh;
	background: #000;
	justify-content: center;
	align-items: center;
}

.footer-info {
	margin-top: 7vh;
	height: 100%;
	color: white;
	width: 33vh;
	margin-left: 2vh;
}

.footer-info p {
	color: #ed008c;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 2.5vh;
}

.person {
	margin-top: 1vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-transform: uppercase;
	font-weight: normal;
}

.email {
	color: white;
	display: block;
	width: 100%
	margin-top: 1vh;
}

.email p {
	color: #ed008c;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 2.5vh;
}

.email a {
	margin-top: 1vh;
}

.person p {
	margin-left: 1.5vh;
	color: white;
}

.icon {
	width: 5vh;
	height: 5vh;
	object-fit: contain;
	left: 10%;
}

.disclaimer {
	bottom: 0%;
	display: flex;
	position: absolute;
	color: #8d8f97;
	font-size: 1.5vh;
	border-top: 1px solid gray;
	height: 8vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}



/*end Footer*/


/* ARTICLE  */

.main-article-block{
	width: 100%;
	height: 60vh;

}

.preview-img{
	object-fit: cover;
	height: 60vh;
	width: 100%;

}

.article-news {
	position: absolute;
	left: 0;
	top: 0;
	margin-left: 12vh;
}

.article-news h1 {
	line-height: 4vh;
	font-size: 3.5vh;
	max-width: 45vh;
}

.article-text-block {
	display: flex;
	flex-direction: column;
	background-color: black;
	align-items: center;
	width: 100%;
}

.text-columns {
	padding-right: 3vh;
	margin-top: 3vh;
	display: flex;
	margin-left: 10vh;
}

.text-column {
	flex-direction: column;
	width: 50%;
	font-size: 1.7vh;
	margin-left: 2vh;
	display: flex;
	color: white;
}

.article-text-block p {
	margin-top: 1vh;
}

.img-with-description {
	margin-top: 4vh;
}

.img-with-description h1 {
	font-size: 2vh;
	font-weight: bold;
	margin-bottom: 1vh;
	text-transform: uppercase;
}

.img-article-block {
	display: flex;
}

.img-for-description {
	display: block;
	width: 100%;
	border-radius: 0.8vh;
}


.central-article-img-block {
	margin-left: 11vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 4vh;
	padding-right: 3vh;
}

.central-article-img {
	display: block;
	border-radius: 2vh;
	width: 100%;
	max-width: 100vh;
	margin: 0 0 0 0;
}

.central-article-img-block p {
	margin-top: 1vh;
	color: white;
	text-transform: uppercase;
	font-size: 1.5vh;
	font-weight: bold;
}

.column-description {
	margin-left: 1vh;
}

.article-paragraph {
	color: white;
	margin-left: 11vh;
	margin-top: 4vh;
	padding-right: 4vh;
}

.paragraph-title {
	text-transform: uppercase;
	font-size: 1.8vh;
	margin-bottom: 1vh;
	font-weight: bold;
	line-height: 2.6vh;
}


.article-video {
	color: white;
	margin-left: 11vh;
	margin-top: 5vh;
	padding-right: 4vh;
}

/* end ARTICLE*/


/* article organizer */

.organizer-main-block {
	width: 100%;
   display: block;
   height: 100vh;
}

.organizer-main-opacity {
	background-image: linear-gradient(rgba(43, 49, 63, 0.2) 57%, rgb(0 0 0) 101%);
   width: 100%;
   height: 101vh;
   z-index: 10;
   display: flex;
   align-items: center;
   position: absolute;
}

.main-title-description {
	text-shadow: 0 0 6px black;
	max-width: 50vh;
	position: absolute;
   top: 87%;
   margin-left: 12vw;
   display: block;
   font-size: 1.9vh;
   color: rgb(200, 200, 200);
}

.not-first-news {
	box-shadow: none;
}

.organizer-preview {

}

.organizer-news {
   margin-top: -18vh;
   left: 0;
   top: 0;
   display: flex;
   flex-direction: column;
   margin-left: 14vh;
}

.higher {
	height: 80vh;
}

.higher-contained {
	margin-top: -27vh;
}

.orginizer-news-button {
	position: relative;
	z-index: 20;
	box-sizing: border-box;
	outline: 1px solid white;
}

.organizer-main-title {
	color: white;
	margin-left: 11vw;
	top: 78%;
	font-size: 8vh;
	text-shadow: 0 0 10px black;
}

.transport_img {
	background: url("../images/img-section/wallpaperflare.com_wallpaper _16.jpg");
	background-position: bottom;
	background-position-y: 60%;
   background-size: cover;
   background-repeat: no-repeat;
}

.scrollme {
	display: block;
	position: absolute;
	right: 50%;
	bottom: -0.5vh;
	width: 2.2vh;
   height: 1.5vh;
   margin: 0 0 0 -15px;

   opacity: 0.984519; 
   transform: translate3d(0px, -39.112px, 0px);

   animation-duration: 2.9s;
   animation-name: slidein;
   animation-iteration-count: infinite;
}

.scrollme-on-video {

}

#myVideo {
	object-fit: cover;
	width: 100%;
	height: 100vh;
}

.on-video {
   position: absolute;
   left: 0;
   top: 0;
   height: 100vh;
   background-image: linear-gradient(rgba(43, 49, 63, 0.2) 72%, rgb(0 0 0) 101%);
}

.first{
	position: absolute;
  	transform: translate(1.1vw, -3.5vw) rotate(45deg);
  	transform-origin: left top;
}

.middle{
	transform: scale(0) translate(0vw, 10vw);
}

.last{
  	transform: translate(-1.4vw, -3.7vw) rotate(-45deg);
	transform-origin: right bottom;
}




/* keyframes */
@keyframes slidein {

	from {
		margin-bottom: 1.2vh;
		opacity: 0.1;
	}

	30% {
		opacity: 0.97
	}


	60% {
		opacity: 0;
		margin-bottom: -0.5vh;
	}


	to {
		opacity: 0;
	}
}

/* end keyframes */


/* end article organizer */

/* media */
@media screen and (max-width: 1024px){

	.container-center{
		max-width: 180vh;
	}

	.description {
		margin-left: 0;
	}

	.scroll-container {
		max-width: 60vh;
	}

	.slider-link {
		left: 50%;
	}

	.main-container {
		flex-direction: column;
		align-items: center;
		margin-left: 9vh;
	}

	.description {
		margin-left: 2vh;
		max-width: 68vh;
	}


	.news-main-container{
		flex-direction: column;
		justify-content: center;
		margin-left: 13vh;
	}

	.bg-text{
		text-align: center;
		font-size: 3.7vh;
	}

	.organizer-main-block {
		height: 40vh;
	}

	.organizer-main-opacity {
		height: 41vh;
	}

	.organizer-main-title {
		color: white;
		top: 67%;
		font-size: 6vh;
		margin-left: 13vw;
	}

	.main-title-description {
		top: 83%;
		max-width: 55vh;
		margin-left: 14vw;
	}

	.scrollme-organizer {
		display: none;
	}

	.prev-main{
		height: 100%;
	}

	.scrollme {
		display: none;
	}

}	

@media screen and (max-width: 767px){
	.scroll-container{
		display: flex;
		flex-direction: column;
		margin-top: 1vh;
		max-width: 47vh;
		margin-right: 3vh;
		width: auto;
		flex: none;
		height: 65vh;

	}

	.scroll-lable {
		font-size: 2.8vh;
	}

	.description {
		margin-left: -0.8vh;
	}

	.main-container {
		margin-left: 8vh;
	}
	.news-main-container{
		margin-left: 9vh;
	}

	.iphone {
		padding-left: 0.4vh;
		margin-right: 0.8vh;
		display: flex;
		flex-direction: column;
	}

	.image-slider-block {
		pointer-events: all;
	}

	.slider-block {
		display: flex;
    	max-width: 46vh;
    	width: auto;
    	height: 15vh;
	}

	.slider-block-info{
		display: flex;
		flex-direction: column;
		max-width: 24vh;
		width: auto;
	}

	.slider-text {
		display: none;
	}

	.slider-link{
		top: 68%;
		line-height: 1.9vw;
		left: 0%;
		font-size: 1.8vh;
		max-width: 15vh;
		height: 3.7vh;
		padding-top: 1.3vh;
	}

	.image-slider-img {
		width: 20vh;
		height: 14vh;
	}

	.article-news{
		margin-top: 40vh; 
		margin-left: 8vh;
	}

	.article-news h1 {
		max-width: 35vh;
	}

	.text-columns{
		margin-left: 6vh;
		padding-right: 8vh;
		flex-direction: column;
	}

	.text-column {
		margin-top: 2vh;
		width: 100%;
	}

	.central-article-img-block,
	.article-paragraph,
	.article-video {
		margin-left: 7vh;
		padding-right: 5vh;
	}

	.nav{
		display: none;
	}


	.slider-lable{
		margin-top: 0.5vh;
		margin-right: 0.2vh;
		font-size: 1.6vh;
		text-transform: uppercase;
	}

	.left-menu{
		display: block;
	}


	.grid-container {
	  display: grid;
	  grid-template-columns: minmax(25%,1fr) minmax(25%,1fr);
	  grid-template-rows: 40vh 30vh 30vh;
	  margin-left: -2.5%;
	  margin-top: 3%;
	  grid-gap: 0.5vh;
	}

	.grid-container h1{
	  color: #ffffff;
	  font-weight: 700;
	  font-size: 96%;
	  padding: 2vh;
	  padding-top: 3vh;
	  position: relative;
	  margin-top: -31.5vh;
	  text-align: center;
	  height: 9vh;
	}

	.main-listing {
	  grid-column: 1 / 3;
	  grid-row: 1 / 2;
	  position: relative;
	}

	.main-listing h1{
	  font-size: 5vh;
	  text-align: center;
	  margin-top: -43vh;
	  height: 27vh;
	}

	.main-listing .sect-href-article{
	  font-size: 3vh;
	}

	.main-listing .sect-hrefs{
	  /* margin-top: 10vh; */
	}

	.location-listing {
	  position: relative;
	}

	.location-image {
	  line-height: 0;
	  overflow: hidden;
	  height: 100%;
	}

	.location-image img {
	  filter: blur(0px);
	  transition: filter 0.3s ease-in;
	  transform: scale(1.1);
	}

	.location-title {
	  font-size: 1.5em;
	  font-weight: bold;
	  text-decoration: none;
	  z-index: 1;
	  position: absolute;
	  height: 100%;
	  width: 100%;
	  top: 0;
	  left: 0;
	  opacity: 0;
	  transition: opacity .5s;
	  background: rgb(0 0 0 / 22%);
	  color: white;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}

	.main-listing:hover .location-title {
	  opacity: 1;
	  font-size: 5vh;
	}

	.main-listing:hover .location-image img {
	  filter: brightness(60%);
	}

	.location-listing:hover .location-title {
	  opacity: 1;
	}

	.location-listing:hover .location-image img {
	  filter: brightness(60%);
	}

	.sect-hrefs{
		margin-top: 5vh;
		z-index: 5;
		margin-left: 4vh;
	}

	.sect-href-article{
		text-decoration: none;
		display: block;
		color: #fff;
		font-size: 2.5vh;
		padding: 1vh 1vh 0vh 3vh;
		z-index: 5;
		position: relative;
	}

	.last-sect-href{		
		height: 8vh;
	}

	.sect-href-article{
		text-decoration: none;
		display: block;
		color: #c3c3c3;
		font-size: 2.3vh;
		padding: 1vh 2vh 0vh 2vh;
		z-index: 5;
		position: relative;
		margin-left: -2vh;
	}

	.last-sect-href{
		margin-top: 2vh;
	}

	.grid-container-human{
	  display: grid;
	  grid-template-columns: minmax(45%,1fr) minmax(45%,1fr);
	  grid-template-rows: 35vh;
	  margin-left: 4.5%;
	  margin-top: 3%;
	  grid-gap: 0.5vh;
	}

	.grid-container-human h1{
		font-size: 120%;
		margin-top: -37vh;
		height: 21vh;
	}

	/*.grid-container-human .main-listing-second h1{
		font-size: 7vh;
	    margin-top: -40vh;
	    height: 20vh;
	}*/

	.grid-container-human .sect-href-article{
	  font-size: 92%;
	}

	.grid-container-human .sect-hrefs{
	  margin-left: 2vh;
	}

	.title-section {
    	margin-left: 8vw;
    	font-size: 14vw;
    	margin-top: 9vw;
    }

    .section-container{
    	margin-left: -8vh;
    }

    .name-subsection {
    	font-size: 5vh;
    }

    .sect-img-block-grid{/* margin-top: -3vh; */}

	.sect-img-grid{
	    width: 100%;
	    height: 35vh;
	    position: relative;
	}

	.sience-sect-grid h1 {
	    font-size: 5vh;
	    margin-left: -1vh;
	    z-index: 3;
	    top: 60vh;
	}

    .sience-sect-grid .sect-hrefs{
		margin-left: -2vh;
		top: 32vh;
		z-index: 5;
	}

	.sience-sect-grid .sect-href-article{
		font-size: 2vh;
	}

	.sience-sect-grid .sub-link{
		display: none;
	}

	.organizer-news {
		margin-left: 9vh;
	}

	.organizer-main-title {
		color: white;
		font-size: 5vh;
		margin-left: 8vh;
	}

	.main-title-description {
		display: none;
		margin-left: 8vh;
		padding-right: 2vh;
		top: 82%;
		font-size: 3.4vw;
		line-height: 4vw;
	}

	.higher {
		height: 60vh;
	}

	.the-best {
		padding-left: 9vh;
		
	}

	.the-best h1 {
		font-size: 3.7vh;
	}

	.on-video, #myVideo {
		height: 43vh;
	}

	.main-titleF{
		margin-top: 41vh;
		margin-left: 0;
		padding-left: 4vh;
	}

}

@media (max-width: 1024px) and (min-width: 768px){
	.title-section{
	    font-size:11vw;
	}
	
	.grid-container {
	  display: grid;
	  grid-template-columns: minmax(25%,1fr) minmax(25%,1fr);
	  grid-template-rows: 40vh 35vh 35vh;
	  margin-left: 8vh;
	  margin-top: 3%;
	  grid-gap: 0.5vh;
	}

	.grid-container h1{
	  color: #ffffff;
	  font-weight: 700;
	  font-size: 150%;
	  padding: 3vh;
	  position: relative;
	  margin-top: -31.5vh;
	  z-index: 1;
	  height: 10vw;
	}

	.main-listing{
		grid-row: 1 /2;
	}

	.main-listing h1{
	  font-size: 7vh;
	  margin-top: -40vh;
	  height: 20vh;
	}

	.main-listing .sect-href-article{
	  font-size: 3.5vh;
	}

	.main-listing .sect-hrefs{
	  margin-top: 6vh;
	}

	.location-image {
	  line-height: 0;
	  overflow: hidden;
	  height: 100%;
	}

	.location-image img {
	  filter: blur(0px);
	  transition: filter 0.3s ease-in;
	  transform: scale(1.1);
	}

	.location-title {
	  font-size: 1.5em;
	  font-weight: bold;
	  text-decoration: none;
	  z-index: 2;
	  position: absolute;
	  height: 100%;
	  width: 100%;
	  top: 0;
	  left: 0;
	  opacity: 0;
	  transition: opacity .5s;
	  background: rgb(0 0 0 / 22%);
	  color: white;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}

	.main-listing:hover .location-title {
	  opacity: 1;
	  font-size: 5vh;
	}

	.main-listing:hover .location-image img {
	  filter: brightness(60%);
	}

	.location-listing:hover .location-title {
	  opacity: 1;
	}

	.location-listing:hover .location-image img {
	  filter: brightness(60%);
	}

	.sect-hrefs{
		margin-top: 9vh;
	}

	.sect-href-article{
		text-decoration: none;
		display: block;
		font-size: 2.5vh;
		padding: 1vh 1vh 0vh 3vh;
		z-index: 5;
		position: relative;
	}
	
	.last-sect-href{
		margin-top: 4vh;
	}

	.grid-container-human{
	  display: grid;
	  grid-template-columns: minmax(45%,1fr) minmax(45%,1fr);
	  grid-template-rows: 35vh;
	  margin-top: 3%;
	  grid-gap: 0.5vh;
	}

	.main-listing-second {
	  grid-column: 2 / 3;;
	}

	.grid-container-human h1{
		font-size: 209%;
		margin-top: -37vh;
		height: 20vh;
	}

	/*.grid-container-human .main-listing-second h1{
		font-size: 7vh;
	    margin-top: -40vh;
	    height: 20vh;
	}*/

	.grid-container-human .sect-href-article{
	  font-size: 130%;
	}

	.grid-container-human .sect-hrefs{
	    margin-top: 0vh;
	}

	.organizer-main-title {
		color: white;
		top: 67%;
		font-size: 6vh;
		margin-left: 13vw;
	}
}

/* end media */

}

@media screen and (min-width: 950px){
	.last-sect-href{
		margin-top: 11vh;
	}
}

@media screen and (width: 1024px){
	.last-sect-href{		
		height: 7vh;
	}
}

/* end media */


/* scrollbar */
::-webkit-scrollbar {
	width: 3px;
	padding-top: 40px;
}
	
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: white;
	height: 20px;
}
 
::-webkit-scrollbar-track{
	border-width:0;
	background:black;
	border: 4px solid transparent;
	background-clip: content-box; 
}
/* endscrollbar */



