img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(26%,1fr) minmax(26.5%,1fr)  minmax(26.5%,1fr) minmax(26.5%,1fr);
  grid-template-rows: 35vh 35vh;
  margin-left: -2.5%;
  margin-top: 3%;
  grid-gap: 0.5vh;
}

.grid-container h1{
  color: #ed008c;
  font-weight: 700;
  font-size: 4.3vh;
  padding: 3vh;
  position: relative;
  margin-top: -36.5vh;
  z-index: 5;
}

/* hover styles */

.main-listing {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  position: relative;
}

.main-listing h1{
  font-size: 7vh;
  margin-top: -73vh;
}

.main-listing .sect-href-article{
  font-size: 3.5vh;
}

.main-listing .sect-hrefs{
  margin-top: 48vh;
}

.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
  height: 100%;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgb(0 0 0 / 22%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-listing:hover .location-title {
  opacity: 1;
  font-size: 5vh;
}

.main-listing:hover .location-image img {
  filter: brightness(60%);
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: brightness(60%);
}
